	<!-- Modal -->
	<div class="modal fade" id="mainModal" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content pinkify">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="mainModalLabel"></h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!-- content goes here -->
					<div id="mainModalTitle"></div>
					<div id="mainModalDescriptor"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>